/* CSS Snippet from W3schools: https://www.w3schools.com/howto/howto_css_contact_form.asp */
/* Style inputs with type="text", select elements and textareas */
input[type=mess], input[type=em], input[type=word], textarea {
    width: 60%; /* Full width */
    padding: 8px; /* Some padding */ 
    border: 1px solid rgb(144, 144, 144); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  button[type=submit] {
    background-color: #a6b1df;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker color */
  button[type=submit]:hover {
    background-color: #104f97;
  }
  
  /* Style the submit button with a specific background color etc */
  .payment {
    background-color: #a6b1df;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  
  /* Hide Streamlit Branding */
  /*#MainMenu {visibility: hidden;}
  footer {visibility: hidden;}
  header {visibility: hidden;}*/
 